
@model MadHotSpot.Models.Firmalar




<form class="OtelApp-forms" id="OtelApp-forms" asp-controller="OtelBilgi" asp-action="Update" enctype="multipart/form-data" data-ajax-begin="OtelAppOnBegin" data-ajax-complete="OtelAppOnComplete('crud-modal')" data-ajax-failure="OtelAppOnFailure" data-ajax-success="OtelAppOnSuccess(data)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/Ayarlar/Update">

    <div class="row">
 

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" id="mikrotik">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h5 class="box-title">Lisans Bilgileriniz</h5>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label asp-for="FirmaKodu" class="form-control-label">Firma Kodu</label>
                                    <input asp-for="FirmaKodu" class="form-control" placeholder="" readonly />                                
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="FirmaAdi" class="form-control-label">Firma Adı</label>
                                    <input asp-for="FirmaAdi" class="form-control" placeholder="" readonly />                              
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="BaslamaTarihi" class="form-control-label">Lisans Başlama Tarihi</label>
                                    <input maxlength="11" asp-for="BaslamaTarihi" class="form-control" placeholder="" readonly />                                
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="BitisTarihi" class="form-control-label">Lisans Bitiş Tarihi</label>
                                    <input maxlength="11" asp-for="BitisTarihi"  class="form-control" placeholder="" readonly />                   
                                </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
                 



            </div>


        </div>

    </div>
 





</form>



@section Scripts
    {
 

    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.js"></script>
}
