 

<div class="card card-custom">
     <div class="card-header flex-wrap border-0 pt-6 pb-0">
   
         <div class="row">
             <div class="col-md-2">
                 <label class="form-control-label">İlk Tarih</label>
                 <input id="tarih" class="form-control datetime-" type="text" placeholder="" autocomplete="off" />

             </div>
             <div class="col-md-2">
                 <label class="form-control-label">Son Tarih</label>
                 <input id="tarih2" class="form-control datetime-" type="text" placeholder="" autocomplete="off" />

             </div>
             <div class="col-md-3">
                 <br />
                 <button onclick="Raporla()" class="btn btn-warning"><i class="far fa fa-search"></i>Raporla</button>
             </div>
         </div>
     

        </div> 
    <div class="card-body">
        <!--begin: Search Form-->
        <!--begin: Datatable-->
        <table class="table table-striped- table-bordered table-hover table-checkable" id="table">
            <thead>
                <tr>       
                    <th></th>
                    <th>Tarih</th>
                    <th>Doviz</th>
                    <th>Toplam Satış</th>
                    <th>Toplam Iade</th>
                    <th>Bakiye</th>              
                </tr>
            </thead>
        </table>
        <!--end: Datatable-->
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            /////RezKayitSon
            $('#tarih2').daterangepicker({
                "singleDatePicker": true,
                "autoApply": true,

                //"linkedCalendars": false,
                "autoUpdateInput": false,
                "locale": {
                    format: 'DD.MM.YYYY',
                    "applyLabel": "Uygula",
                    "cancelLabel": "Vazgeç",
                    "fromLabel": "Dan",
                    "toLabel": "a",
                    "customRangeLabel": "Seç",
                    "daysOfWeek": [
                        "Pt",
                        "Sl",
                        "Çr",
                        "Pr",
                        "Cm",
                        "Ct",
                        "Pz"
                    ],
                    "monthNames": [
                        "Ocak",
                        "Şubat",
                        "Mart",
                        "Nisan",
                        "Mayıs",
                        "Haziran",
                        "Temmuz",
                        "Ağustos",
                        "Eylül",
                        "Ekim",
                        "Kasım",
                        "Aralık"
                    ],
                    "firstDay": 1
                }
            },
                function (chosen_date) {
                    $('#tarih2').val(chosen_date.format('DD.MM.YYYY'));
                }
            );

            /////RezKayitSon
            $('#tarih').daterangepicker({
                "singleDatePicker": true,
                "autoApply": true,

                //"linkedCalendars": false,
                "autoUpdateInput": false,
                "locale": {
                    format: 'DD.MM.YYYY',
                    "applyLabel": "Uygula",
                    "cancelLabel": "Vazgeç",
                    "fromLabel": "Dan",
                    "toLabel": "a",
                    "customRangeLabel": "Seç",
                    "daysOfWeek": [
                        "Pt",
                        "Sl",
                        "Çr",
                        "Pr",
                        "Cm",
                        "Ct",
                        "Pz"
                    ],
                    "monthNames": [
                        "Ocak",
                        "Şubat",
                        "Mart",
                        "Nisan",
                        "Mayıs",
                        "Haziran",
                        "Temmuz",
                        "Ağustos",
                        "Eylül",
                        "Ekim",
                        "Kasım",
                        "Aralık"
                    ],
                    "firstDay": 1
                }
            },
                function (chosen_date) {
                    $('#tarih').val(chosen_date.format('DD.MM.YYYY'));
                }
            );

            $('#tarih').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD.MM.YYYY'));
            });

            $('#tarih').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

            $('#tarih2').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD.MM.YYYY'));
            });

            $('#tarih2').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

            $("#tarih").val('@DateTime.Now.ToString("dd.MM.yyyy")');
            $("#tarih2").val('@DateTime.Now.ToString("dd.MM.yyyy")');

            Raporla();

        });

        function Raporla() {
            GetData($("#tarih").val(), $("#tarih2").val());
        }

        var GetData = function (tarih,tarih2) {
            $.ajax({
                url: "/Kasa/GetAll?Tarih="+tarih+"&Tarih2="+tarih2,
                type: "get",
                dataType: "json",
                complete: function () {

                },
                success: function (data) {
                    var dataTable = $('#table').DataTable({
                        destroy: true,
                        responsive: true,
                        dom: "<'row'<'col-sm-3 text-left'f><'col-sm-9 text-right'B>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
                        lengthHappyHour: [[5, 10, 25, 50, -1], ["50 Kayıt", "100 Kayıt", "200 Kayıt", "250 Kayıt", "Hepsi"]],
                        pageLength: 50,
                        language: {
                            "emptyTable": "Kayıt bulunamadı",
                            "info": "_START_ - _END_ arası kayıtlar",
                            "infoEmpty": "Kayıt bulunamadı",
                            "infoFiltered": "(_MAX_ kayıt arasından filtrelendi)",
                            "lengthHappyHour": "_HappyHour_",
                            "search": "",
                            "searchPlaceholder": "Arama",
                            "zeroRecords": "Kayıt bulunamadı",
                            "lengthMenu": "Gösterilen _MENU_  Kayıt",
                        },
                       order: [[0, 'desc']],
                        buttons: [

                            { extend: 'print', text: 'Listeyi Yazdır' },
                            //{ extend: 'copyHtml5', text: 'Kopyala' },
                            { extend: 'excelHtml5', text: 'Excel' },
                          //  { extend: 'csvHtml5', text: 'CSV' },
                            { extend: 'pdfHtml5', text: 'PDF' },
                           // { extend: 'colvis', text: 'Göster' }
                        ],
                        columns: [
                            { "data": null, width: 0, visible: false },
                            {

                                data: "tarih",
                                render: function (data, type, row) {
                                    if (type === "sort" || type === "type") {
                                        return data;
                                    }
                                    return moment(data).format("DD.MM.YYYY");
                                }

                            },
                            { "data": "doviz" },
                            { "data": "satis" },
                            { "data": "iade" },
                            { "data": "bakiye" }

                        ],
                        data: data
                    });

                    dataTable.on('order.dt search.dt', function () {
                        dataTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();
                }
            });
        };


    </script>
}

