@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-4 col-6" >
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="t_user">0</h3>

                <p>Toplam Kullanıcı Sayısı</p>
            </div>
            <div class="icon">
                <i class="far fa fa-user"></i>
            </div>
            <a href="javascript:;" onclick="gethotspotuser('true','#t_user','bg-info')" class="small-box-footer">Yenile <i class="fas fa-sync"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="a_user">0</h3>

                <p>Şuan Aktif Kullanıcı Sayısı</p>
            </div>
            <div class="icon">
                <i class="far fa fa-wifi"></i>
            </div>
            <a href="javascript:;" onclick="gethotspotuser('false','#a_user','bg-success')" class="small-box-footer">Yenile <i class="fas fa-sync"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 class="mb-3"><h4 id="t_gelir">0 ₺ / 0 € / 0 $</h4></h3>

                <p>Günlük Toplam Satış</p>
            </div>
            <div class="icon">
                <i class="far fa fa-money-bill"></i>
            </div>
            <a href="javascript:;" onclick="getkasa('#t_gelir','bg-warning')" class="small-box-footer">Yenile <i class="fas fa-sync"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
</div>
<div class="row">
    <div class="container-fluid">
        <div class="row mt-5">
            <!-- /.col (LEFT) -->
            <div class="col-md-12">
                <!-- LINE CHART -->
                <!-- /.card -->
                <!-- BAR CHART -->
                <div class="card card-success">
                    @*<div class="card-header">
                        <h3 class="card-title">Bar Chart</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>*@
                    <div class="card-body" style="display: block;">
                        <div class="chart">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="barChart" style="min-height: 250px; height: 100%; max-height: 100%; max-width: 100%; display: block; width: 1599px;" height="500" class="chartjs-render-monitor" width="1599"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- STACKED BAR CHART -->
                <!-- /.card -->

            </div>
            <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->
    </div>
</div>

@section Scripts
{
    <script>


        $(document).ready(function () {

            gethotspotuser("true", "#t_user", "bg-info");
            gethotspotuser("false", "#a_user", "bg-success");
            getkasa("#t_gelir", "bg-warning");
        });

        function gethotspotuser(Hepsi, elementid, Class) {
            Notiflix.Block.Standard('.' + Class);
            $.ajax({
                type: "post",
                url: "Home/get_Hotspot_user",
                data: { hepsi: Hepsi },
                success: function (result) {

                    if (result.success) {
                        $(elementid).html(result.kullaniciSayisi);
                    } else {
                        $(elementid).html("0");
                    }
                    Notiflix.Block.Remove("*", 0);
                }

            });
        }

        function getkasa(elementid, Class) {
            Notiflix.Block.Standard('.' + Class);
            $.ajax({
                type: "post",
                url: "Home/get_dailycash",
                data: {  },
                success: function (result) {

                    if (result.success) {
                        $(elementid).html(result.message);
                    } else {
                        $(elementid).html("0");
                    }
                    Notiflix.Block.Remove("*", 0);
                }

            });
        }

        $(function() {
            /* ChartJS
             * -------
             * Here we will create a few charts using ChartJS
             */

            //--------------
            //- AREA CHART -
            //--------------

            // Get context with jQuery - using jQuery's .get() method.
            Chart.defaults.global.title.display = true;
            Chart.defaults.global.title.text = "Satış Raporu";
            $.ajax({
                url: "/Home/DailyTotalCost",
                type: "get",
                dataType: "json",
                complete: function(result) {
                    console.log(result.responseJSON.result);

                    if (result.responseJSON.result) {

                    }

                    Notiflix.Block.Standard('#barChart');

                    var bakiye = $(result.responseJSON.result).map(function() {
                        return this.bakiye;
                    }).get();

                    var satis = $(result.responseJSON.result).map(function() {
                        return this.satis;
                    }).get();

                    var iade = $(result.responseJSON.result).map(function() {
                        return this.iade;
                    }).get();

                    var tarih = $(result.responseJSON.result).map(function() {
                        return this.tarih.split("T")[0];
                    }).get()

                    var areaChartData = {
                        labels: tarih,
                        datasets: [
                            {
                                label: 'Bakiye',
                                backgroundColor: '#80BF96',
                                borderColor: '#80BF96',
                                pointRadius: false,
                                pointColor: '#3b8bba',
                                pointStrokeColor: '#80BF96',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: '#80BF96',
                                data: bakiye
                            },
                            {
                                label: 'Satiş',
                                backgroundColor: '#FEBD17',
                                borderColor: '#FEBD17',
                                pointRadius: false,
                                pointColor: '#FEBD17',
                                pointStrokeColor: '#c1c7d1',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: '#FEBD17',
                                data: satis
                            },
                            {
                                label: 'iade',
                                backgroundColor: '#0D6774',
                                borderColor: '#0D6774',
                                pointRadius: false,
                                pointColor: '#3b8bba',
                                pointStrokeColor: '#0D6774',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: '#0D6774',
                                data: iade
                            },
                        ]
                    }

                    //-------------
                    //- BAR CHART -
                    //-------------
                    var barChartCanvas = $('#barChart').get(0).getContext('2d')
                    var barChartData = $.extend(true, {}, areaChartData)
                    var temp0 = areaChartData.datasets[0]
                    var temp1 = areaChartData.datasets[1]
                    barChartData.datasets[0] = temp1
                    barChartData.datasets[1] = temp0

                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false,
                     
                    }

                    new Chart(barChartCanvas,
                        {
                            type: 'bar',
                            data: barChartData,
                            options: {barChartOptions}

                        })

                    //---------------------
                    //- STACKED BAR CHART -
                    //---------------------
                    var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
                    var stackedBarChartData = $.extend(true, {}, barChartData)

                    var stackedBarChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [
                                {
                                    stacked: true,
                                }
                            ],
                            yAxes: [
                                {
                                    stacked: true
                                }
                            ]
                        }
                    }

                    new Chart(stackedBarChartCanvas,
                        {
                            type: 'bar',
                            data: stackedBarChartData,
                            options: stackedBarChartOptions
                        });

                    Notiflix.Block.Remove("*", 0);
                },
                success: function(data) {

                }
            });

        })

    </script>
}