@model MadHotSpot.Models.Kullanicilar;
@{

    var action = Model == null || Model.Id == Guid.Empty ? "create" : "update";
    //var areaTypeList = typeof(type).EnumToList().Select(x => new { Value = x.Value, Text = x.Description }).OrderBy(x => x.Text).ToList();
}
<div class="modal fade OtelApp-forms-modal" id="crud-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="OtelApp-forms" id="OtelApp-forms" asp-controller="DepartmanGruplari" asp-action="@action" enctype="multipart/form-data" data-ajax-begin="OtelAppOnBegin" data-ajax-complete="OtelAppOnComplete('crud-modal')" data-ajax-failure="OtelAppOnFailure" data-ajax-success="OtelAppOnSuccess(data, dataTableReload)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/Kullanicilar/@action">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Market Tanımları</h5>
                    <button type="button" class="close OtelApp-forms-modal-close" data-dismiss="modal" aria-label="Vazgeç"></button>
                </div>
                <div class="modal-body">
                    <div class="hidden">
                        <input type="hidden" class="form-control" asp-for="Id">
                     </div>
                    <div class="row">

                        <div class="form-group col-md-2">
                            <label asp-for="KullaniciKodu" class="form-control-label">Kullanıcı Kodu</label>
                            <input asp-for="KullaniciKodu" class="form-control" placeholder="" />
                            <span asp-validation-for="KullaniciKodu" class="text-danger"> </span>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="btn btn-success"> Oluştur </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Sifre" class="form-control-label">Gün</label>
                            <input asp-for="Sifre" type="password" class="form-control" placeholder="" />

                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Email" class="form-control-label">Gün</label>
                            <input asp-for="Email" type="number" class="form-control" placeholder="" />
                            <span asp-validation-for="Email" class="text-danger"> </span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Telefon" class="form-control-label">Gün</label>
                            <input asp-for="Telefon" type="number" class="form-control" placeholder="" />
                            <span asp-validation-for="Telefon" class="text-danger"> </span>
                        </div>
                        <div class="form-group col-md-3">
                            <select class="form-control" asp-for="Yetki">                            
                                <option value="TL" >Tam</option>
                                <option value="USD">Sınırlı</option>
                            </select>
                        </div>

                    </div>
                     
          

 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary OtelApp-forms-modal-close" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="kaydet" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

 
 
</script>
 
