@model MadHotSpot.Models.Tarifeler;
@{

    var action = Model == null || Model.Id == Guid.Empty ? "create" : "update";
    //var areaTypeList = typeof(type).EnumToList().Select(x => new { Value = x.Value, Text = x.Description }).OrderBy(x => x.Text).ToList();
}
<div class="modal fade OtelApp-forms-modal" id="crud-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="OtelApp-forms" id="OtelApp-forms" asp-controller="Tarifeler" asp-action="@action" enctype="multipart/form-data" data-ajax-begin="OtelAppOnBegin" data-ajax-complete="OtelAppOnComplete('crud-modal',10,yenile)" data-ajax-failure="OtelAppOnFailure" data-ajax-success="OtelAppOnSuccess(data, yenile)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/Tarifeler/@action">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tarife Kartı</h5>
 
                    <button type="button" class="close OtelApp-forms-modal-close" data-dismiss="modal" aria-label="Vazgeç"></button>
                </div>
                <div class="modal-body">
                    <div class="hidden">
                        <input type="hidden" class="form-control" asp-for="Id">
                    </div>
 
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="TarifeAdi" class="form-control-label">Tarife Adı</label>
                                <input asp-for="TarifeAdi" class="form-control" placeholder=""   />
                                <span asp-validation-for="TarifeAdi" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="Gun" class="form-control-label">Gün</label>
                                <input asp-for="Gun" type="number" min="1" max="999" class="form-control" placeholder="" id="gun" />
                                <span asp-validation-for="Gun" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="Aktif" class="form-control-label">Aktif</label>
                                <input asp-for="Aktif" class="form-control" placeholder=""   />
                                <span asp-validation-for="Aktif" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="TLFiyat" class="form-control-label">TL Tutar</label>
                                <input asp-for="TLFiyat" type="number" class="form-control" placeholder="₺"   />
                                <span asp-validation-for="TLFiyat" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="EUROFiyat" class="form-control-label">Euro Tutar</label>
                                <input asp-for="EUROFiyat" type="number" class="form-control" placeholder="€"   />
                                <span asp-validation-for="EUROFiyat" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="USDFiyat" class="form-control-label">Usd Tutar</label>
                                <input asp-for="USDFiyat" type="number" class="form-control" placeholder="$"   />
                                <span asp-validation-for="USDFiyat" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary OtelApp-forms-modal-close" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="kaydet" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <script>
 

 

        $(document).ready(function () {
      
            if ($("#gun").val() < 1) $("#gun").val("1");
 
        });
    </script>


