
@model MadHotSpot.Models.Ayarlar




<form class="OtelApp-forms" id="OtelApp-forms" asp-controller="OtelBilgi" asp-action="Update" enctype="multipart/form-data" data-ajax-begin="OtelAppOnBegin" data-ajax-complete="OtelAppOnComplete('crud-modal')" data-ajax-failure="OtelAppOnFailure" data-ajax-success="OtelAppOnSuccess(data)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/Ayarlar/Update">

    <div class="row">
        <div class="col-12">
            <div class="card-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Kaydet</button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" id="mikrotik">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h5 class="box-title">Mikrotik Ayarları</h5>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="MikrotikIp" class="form-control-label">Ip Adresi</label>
                                    <input asp-for="MikrotikIp" class="form-control" placeholder="" />
                                    <span asp-validation-for="MikrotikIp" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="MikrotikPort" class="form-control-label">Api Port</label>
                                    <input asp-for="MikrotikPort" class="form-control" placeholder="" />
                                    <span asp-validation-for="MikrotikPort" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="MikrotikUser" class="form-control-label">Kullanıcı Adı</label>
                                    <input maxlength="11" asp-for="MikrotikUser" class="form-control" placeholder="" />
                                    <span asp-validation-for="MikrotikUser" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="MikrotikPass" class="form-control-label">Şifre</label>
                                    <input maxlength="11" asp-for="MikrotikPass" class="form-control" placeholder="" />

                                    <span asp-validation-for="MikrotikPass" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="MikrotikHotspotAdi" class="form-control-label">Hotspot Adı</label>
                                    <input maxlength="11" asp-for="MikrotikHotspotAdi" class="form-control" placeholder="" />
                                    <span asp-validation-for="MikrotikHotspotAdi" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="MikrotikProfilAdi" class="form-control-label">User Profil Adı</label>
                                    <input maxlength="11" asp-for="MikrotikProfilAdi" class="form-control" placeholder="" />
                                    <span asp-validation-for="MikrotikProfilAdi" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="MikrotikDefaultSifre" class="form-control-label">Default Giriş Şifresi</label>
                                    <input maxlength="11" asp-for="MikrotikDefaultSifre" class="form-control" placeholder="" />
                                    <span asp-validation-for="MikrotikDefaultSifre" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-success" onclick="mikrotiktest()">
                                        <i class="fa fa-ribbon"></i> Test
                                    </button>
                                </div>
                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-danger" onclick="deleteOldUser()">
                                        <i class="fa fa-trash"></i> Eski Kullanıcıları Sil
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h5 class="box-title">Diğer Ayarlar</h5>
                        </div>
                        <div class="box-body">
                            <div class="row">

                                <div class="form-group col-12">
                                    <div class="icheck-primary d-inline">
                                        <span asp-validation-for="IadeAktif" class="text-danger"></span>
                                        <label asp-for="IadeAktif" class="form-control-label">İade Aktif</label>
                                        <input maxlength="11" asp-for="IadeAktif" class="ml-2" placeholder="" />
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <div class="icheck-primary d-inline">
                                        <span asp-validation-for="TarifeAktif" class="text-danger"></span>
                                        <label asp-for="TarifeAktif" class="form-control-label">Tarifeli Satış Aktif</label>
                                        <input maxlength="11" asp-for="TarifeAktif" class="ml-2" placeholder="" />
                                    </div>
                                </div>

                                <div class="form-group col-12" style="display:none;">
                                    <div class="icheck-primary d-inline">
                                        <span asp-validation-for="SinirsizAktif" class="text-danger"> </span>
                                        <label asp-for="SinirsizAktif" class="form-control-label">Sınırsız Aktif</label>
                                        <input maxlength="11" asp-for="SinirsizAktif" class="ml-2" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group col-12" style="display:none;">
                                    <div class="icheck-primary d-inline">
                                        <label asp-for="AdSoyadZorunlu" class="form-control-label">Ad Soyad Zorunlu?</label>
                                        <input maxlength="11" asp-for="AdSoyadZorunlu" class="ml-2" placeholder="" />
                                        <span asp-validation-for="AdSoyadZorunlu" class="text-danger"> </span>
                                    </div>
                                </div>

                                <div class="form-group col-12"  >
                                    <div class="icheck-primary d-inline">
                                        <label asp-for="ManuelGuestAdd" class="form-control-label">Manuel Misafir Ekleme Aktif</label>
                                        <input maxlength="11" asp-for="ManuelGuestAdd" class="ml-2" placeholder="" />
                                        <span asp-validation-for="ManuelGuestAdd" class="text-danger"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h5 class="box-title">Tarife Ayarları</h5>
                        </div>
                        <div class="box-body">
                            <div class="row">

                                <div class="form-group col-12">
                                    <label asp-for="GunlukFiyatTL" class="form-control-label">Günlük Fiyat TL</label>
                                    <input asp-for="GunlukFiyatTL" class="form-control" placeholder="₺" />
                                    <span asp-validation-for="GunlukFiyatTL" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="GunlukFiyatEURO" class="form-control-label">Günlük Fiyat EURO</label>
                                    <input asp-for="GunlukFiyatEURO" class="form-control" placeholder="€" />
                                    <span asp-validation-for="GunlukFiyatEURO" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="GunlukFiyatUSD" class="form-control-label">Gunluk Fiyat USD</label>
                                    <input maxlength="11" asp-for="GunlukFiyatUSD" class="form-control" placeholder="$" />
                                    <span asp-validation-for="GunlukFiyatUSD" class="text-danger"> </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="FirmaId" />
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h5 class="box-title">Dia Entegrasyon Ayarları</h5>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="icheck-primary d-inline">
                                        <span asp-validation-for="DiaEntegrasyonAktif" class="text-danger"></span>
                                        <label asp-for="DiaEntegrasyonAktif" class="form-control-label">Dia Misafir Entegrasyon</label>
                                        <input maxlength="11" asp-for="DiaEntegrasyonAktif" class="ml-2" placeholder="" />
                                    </div>
                                </div>



                                <div class="form-group col-12">
                                    <label asp-for="DiaUrl" class="form-control-label">Dia Entegrasyon Url</label>
                                    <input asp-for="DiaUrl" onkeyup="scripteolustur()" class="form-control" placeholder="Örn : http://demootel.dia.gen.tr/ote/KonaklayanListesi?kullaniciadi=aqua&sifre=1234" />
                                    <span><a class="link-muted" href="https://www.diaakademi.com/bilgi-bankasi/internet-takip-cihazlarina-entegrasyon/" target="_blank">Dia'dan Url Nasıl Alınır ?</a></span>
                                    <span asp-validation-for="DiaUrl" class="text-danger"> </span>
                                </div>

                                <div class="form-group col-12">

                                    <textarea class="form-control" rows="3" readonly id="ScripteCode"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h5 class="box-title">ElektraWeb Entegrasyon Ayarları</h5>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="icheck-primary d-inline">
                                        <span asp-validation-for="ElektraEntegrasyonAktif" class="text-danger"></span>
                                        <label asp-for="ElektraEntegrasyonAktif" class="form-control-label">ElektraWeb Misafir Entegrasyon</label>
                                        <input maxlength="11" asp-for="ElektraEntegrasyonAktif" class="ml-2" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="ElektraTenantId" class="form-control-label">TenantId</label>
                                    <input asp-for="ElektraTenantId" class="form-control" placeholder="Hotel Id" />
                                    <span asp-validation-for="ElektraTenantId" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="ElektraUser" class="form-control-label">Api Key</label>
                                    <input asp-for="ElektraUser" class="form-control" placeholder="Hotspot Elektra Web Api Key" />
                                    <span><a class="link-muted" href="https://www.youtube.com/watch?v=oAMS-AQwpbU" target="_blank">Hotspot Api Key Nasıl Alınır ?</a></span>
                                    <span asp-validation-for="ElektraUser" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="ElektraFreeProfile" class="form-control-label">Hotspot Ücretsiz Mod Profili</label>
                                    <input asp-for="ElektraFreeProfile" class="form-control" placeholder="Ücretsiz Profil Adı" />
                                    
                                    <span asp-validation-for="ElektraFreeProfile" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="ElektraPaidProfile" class="form-control-label">Hotspot Ücretli Mod Profili</label>
                                    <input asp-for="ElektraPaidProfile" class="form-control" placeholder="Ücretli Profil Adı" />                                    
                                    <span asp-validation-for="ElektraPaidProfile" class="text-danger"> </span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="ElektraHighSpeedProfile" class="form-control-label">Hotspot Yüksek Hız Mod Profili</label>
                                    <input asp-for="ElektraHighSpeedProfile" class="form-control" placeholder="Yüksek Hız Profil Adı" />
                                    
                                    <span asp-validation-for="ElektraHighSpeedProfile" class="text-danger"> </span>
                                </div>

                                <div class="form-group col-12">
                                    <textarea class="form-control" rows="3" readonly id="ScripteCodeElektra"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    <script>
        function mikrotiktest() {
            Notiflix.Block.Standard('#mikrotik');
            $.ajax({
                type: "get",
                url: "Ayarlar/TestMikrotik",
                data: { MikrotikIp: $("#MikrotikIp").val(), MikrotikPort: $("#MikrotikPort").val(), MikrotikUser: $("#MikrotikUser").val(), MikrotikPass: $("#MikrotikPass").val() },
                success: function (result) {

                    if (result.success) {
                        Notiflix.Notify.Success(result.message);
                    } else {
                        Notiflix.Notify.Failure(result.message);
                    }
                    Notiflix.Block.Remove("*", 0);
                }

            });
        }

        function deleteOldUser() {
            Notiflix.Block.Standard('#mikrotik');
            $.ajax({
                type: "get",
                url: "/Ayarlar/DeleteExpireUsers",
                success: function (result) {
                    if (result.success) {
                        Notiflix.Notify.Success(result.message);
                    } else {
                        Notiflix.Notify.Failure(result.message);
                    }
                    Notiflix.Block.Remove("*", 0);
                }
            });
        }

        function scripteolustur() {

            var scripte = '/tool fetch url="https://hotspot.selinushms.com/Entegrasyon/KullaniciBas?FirmaId=data"  keep-result=no'.replace("data", $("#FirmaId").val());

            $("#ScripteCode").val(scripte)

        }

        function scripteolusturElektra() {

            var scripte = '/tool fetch url="https://hotspot.selinushms.com/Entegrasyon/KullaniciBas?FirmaId=data"  keep-result=no'.replace("data", $("#FirmaId").val());

            $("#ScripteCodeElektra").val(scripte)

        }
        $(document).ready(function () {
            scripteolustur();
            scripteolusturElektra();
        });
    </script>

    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.js"></script>
}
