@model MadHotSpot.Models.InternetSatisViewModel;
@{

    var action = Model.InternetSatis == null || Model.InternetSatis.Id == Guid.Empty ? "create" : "update";
    //var areaTypeList = typeof(type).EnumToList().Select(x => new { Value = x.Value, Text = x.Description }).OrderBy(x => x.Text).ToList();
}
<div class="modal fade OtelApp-forms-modal" id="crud-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="OtelApp-forms" id="OtelApp-forms" asp-controller="DepartmanGruplari" asp-action="@action" enctype="multipart/form-data" data-ajax-begin="OtelAppOnBegin" data-ajax-complete="OtelAppOnComplete('crud-modal',10,yenile)" data-ajax-failure="OtelAppOnFailure" data-ajax-success="OtelAppOnSuccess(data, yenile)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/InternetSatis/@action">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">İnternet Satış Tanımları</h5>
                    <button type="button" class="close OtelApp-forms-modal-close" data-dismiss="modal" aria-label="Vazgeç"></button>
                </div>
                <div class="modal-body">
                    <div class="hidden">
                        <input type="hidden" class="form-control" asp-for="InternetSatis.Id">
                        <input type="hidden" class="form-control" asp-for="Ayarlar.GunlukFiyatTL" id="TLtutar">
                        <input type="hidden" class="form-control" asp-for="Ayarlar.GunlukFiyatEURO" id="Eurotutar">
                        <input type="hidden" class="form-control" asp-for="Ayarlar.GunlukFiyatUSD" id="USDtutar">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.Sifre" class="form-control-label">Şifre</label>
                                <div class="input-group">
                                    <input type="text" asp-for="InternetSatis.Sifre" class="form-control">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-sm btn-warning" onclick="CreateRandomPass()">Oluştur</button>
                                    </span>
                                </div>
                                <span asp-validation-for="InternetSatis.Sifre" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.Odano" class="form-control-label">Odano</label>
                                <input asp-for="InternetSatis.Odano" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.Odano" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>
                    @if (Model.Ayarlar.TarifeAktif)
                    {
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- text input -->
                                <div class="form-group">
                                    <label asp-for="InternetSatis.Tarife" class="form-control-label">Tarifeli Satış</label>
                                    <input asp-for="InternetSatis.Tarife" onchange="TarifeAktif()" class="form-control" placeholder="" id="tarife" />
                                    <span asp-validation-for="InternetSatis.Tarife" class="text-danger"> </span>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label asp-for="InternetSatis.TarifeId" class="form-control-label">Tarife Seç</label>
                                <select asp-for="InternetSatis.TarifeId" onchange="TarifeSec()" class="form-control" data-placeholder="" disabled asp-items="@(new SelectList(Model.Tarifeler,"Id","TarifeAdi"))" id="cmbtarife">
                                    <option value="0">Tarife Seç</option>
                                </select>
                                <span asp-validation-for="InternetSatis.TarifeId" class="text-danger"> </span>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.Gun" class="form-control-label">Gün</label>
                                <input asp-for="InternetSatis.Gun" onchange="hesapla()" type="number" min="1" max="999" class="form-control" placeholder="" id="gun" />
                                <span asp-validation-for="InternetSatis.Gun" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.Doviz" class="form-control-label">Döviz</label>
                                <select class="form-control" id="doviz" asp-for="InternetSatis.Doviz" onchange="hesapla()">
                                    <option value="TL">TL</option>
                                    <option value="USD">USD</option>
                                    <option value="EURO">EURO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.Tutar" class="form-control-label">Tutar</label>
                                <input asp-for="InternetSatis.Tutar" type="number" class="form-control" placeholder="" readonly id="tutar" />
                                <span asp-validation-for="InternetSatis.Tutar" class="text-danger"> </span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.AdSoyad" class="form-control-label">Ad Soyad</label>
                                <input asp-for="InternetSatis.AdSoyad" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.AdSoyad" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.VatNo" class="form-control-label">Vatandaşlık Numarası</label>
                                <input asp-for="InternetSatis.VatNo" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.VatNo" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label asp-for="InternetSatis.Telefon" class="form-control-label">Telefon</label>
                                <input asp-for="InternetSatis.Telefon" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.Telefon" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->

                        </div>
                    </div>

                    @*<div class="row">

                            <div class="form-group col-md-2">
                                <label asp-for="InternetSatis.Sifre" class="form-control-label">Şifre</label>
                                <input asp-for="InternetSatis.Sifre" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.Sifre" class="text-danger"> </span>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="btn btn-success"> Oluştur </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="InternetSatis.Gun" class="form-control-label">Gün</label>
                                <input asp-for="InternetSatis.Gun" onchange="hesapla()" type="number" class="form-control" placeholder="" id="gun" />
                                <span asp-validation-for="InternetSatis.Gun" class="text-danger"> </span>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="InternetSatis.Tutar" class="form-control-label">Gün</label>
                                <input asp-for="InternetSatis.Tutar" type="number" class="form-control" placeholder="" readonly id="tutar" />
                                <span asp-validation-for="InternetSatis.Tutar" class="text-danger"> </span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="InternetSatis.Doviz" class="form-control-label">Döviz</label>
                                <select class="form-control" id="doviz" asp-for="InternetSatis.Doviz" onchange="hesapla()">
                                    <option value="TL">TL</option>
                                    <option value="USD">USD</option>
                                    <option value="EURO">EURO</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label asp-for="InternetSatis.AdSoyad" class="form-control-label">Ad Soyad</label>
                                <input asp-for="InternetSatis.AdSoyad" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.AdSoyad" class="text-danger"> </span>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="InternetSatis.VatNo" class="form-control-label">Vatandaşlık Numarası</label>
                                <input asp-for="InternetSatis.VatNo" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.VatNo" class="text-danger"> </span>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="InternetSatis.Telefon" class="form-control-label">Vatandaşlık Numarası</label>
                                <input asp-for="InternetSatis.Telefon" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.Telefon" class="text-danger"> </span>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="InternetSatis.Odano" class="form-control-label">Odano</label>
                                <input asp-for="InternetSatis.Odano" class="form-control" placeholder="" />
                                <span asp-validation-for="InternetSatis.Odano" class="text-danger"> </span>
                            </div>
                        </div>*@




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary OtelApp-forms-modal-close" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="kaydet" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    var tl = 0;
    var usd = 0;
    var euro = 0;

    function TarifeSec() {

        if ($("#cmbtarife").val() != "0") {
            $("#kaydet").prop("disabled", false);
            Notiflix.Block.Standard('.modal-dialog');
            $.ajax({
                type: "get",
                url: "Tarifeler/GetTarife",
                data: { Id: $("#cmbtarife").val() },
                success: function (result) {

                    if (result != null) {

                        tl = result.tlFiyat;
                        euro = result.euroFiyat;
                        usd = result.usdFiyat;

                        $("#gun").val(result.gun);
                        hesapla();
                    }
                }

            });
            Notiflix.Block.Remove("*", 0);
        } else {

            $("#kaydet").prop("disabled", true);
        }
    }

    function hesapla() {

        if ($("#tarife").is(":checked")) {
            switch ($("#doviz").val()) {

                case "TL":
                    $("#tutar").val(tl);
                    break;

                case "EURO":
                    $("#tutar").val(euro);
                    break;

                case "USD":
                    $("#tutar").val(usd);
                    break;
            }
        } else {

            if ($("#gun").val() < 1) $("#gun").val("1");

            var gun = $("#gun").val();
            var tutar = 0;
            switch ($("#doviz").val()) {

                case "TL":
                    var tltutar = $("#TLtutar").val();
                    tutar = tltutar * gun;
                    break;

                case "EURO":
                    var eurotutar = $("#Eurotutar").val();
                    tutar = eurotutar * gun;
                    break;

                case "USD":
                    var usdtutar = $("#USDtutar").val();
                    tutar = usdtutar * gun;
                    break;
            }

            $("#tutar").val(tutar);
        }
    }


    function CreateRandomPass() {
        $("#InternetSatis_Sifre").val(RandomPassCreator(7).toUpperCase());
    }

    $(document).ready(function () {
        CreateRandomPass();
        if ($("#gun").val() < 1) $("#gun").val("1");
        hesapla();

        $("#tarife").click(function () {
            if ($(this).is(":checked")) {
                $("#cmbtarife").prop("disabled", false);
                $("#gun").prop("readonly", true);
                if ($("#cmbtarife").val() == "0") $("#kaydet").prop("disabled", true); else $("#kaydet").prop("disabled", false);
                hesapla();

            } else {
                $("#cmbtarife").prop("disabled", true);
                $("#gun").prop("readonly", false);
                $("#gun").val("1");
                $("#kaydet").prop("disabled", false);
                hesapla();
            }
        });

    });
</script>


